<%# CSS・・・assets/stylesheets/shared/header.css %>
  
  <header class ="top-page-header">
    <div class ="header-contents">
      <%= link_to image_tag("logo.png", class:"sachiplan-icon"), "/" %>
    <div class ="kara"></div>
      <div class = "nav">
        <ul class = "user-nav">
          <% if user_signed_in? %>
            <li><%= link_to "NEW PLAN", new_task_list_path , class:"new-plan" %></li>
            <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
            <li><%= link_to "LOGOUT", destroy_user_session_path , method: :delete , class:"logout" %></li>
          <% else %>
            <li><%= link_to "lOGIN", user_session_path ,class:"login" %></li>
            <li><%= link_to "SIGN UP", new_user_registration_path , class:"sing-up" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>