<%# CSS・・・assets/stylesheets/shared/header.css %>
  
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <%= link_to root_path,class:"d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" do %>
        <%= image_tag 'logo_kuro_moji3.jpg' ,width: '200px',height: '40px' %>
      <% end %>
      <%# <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a> %>

      <%# <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
      </ul> %>

      <div class="col-md-3 text-end">
        <% if user_signed_in? %>
      
          <%= link_to current_user.nickname, "#", class: "btn btn-secondary" %>
          <%= link_to "LOGOUT", destroy_user_session_path , method: :delete , class:"btn btn-secondary" %>
        <% else %>
          <%= link_to "lOGIN", user_session_path ,class:"btn btn-secondary" %>
          <%= link_to "SIGN UP", new_user_registration_path , class:"btn btn-secondary" %>
        <% end %>
      </div>
    </header>
  </div>