<%= render "shared/header" %>

<div class="container">
  <div class="row">

    <div class ="card-create-form"> 
      <%= form_with model: [@task_list , @card] ,local: true do |form| %>
      <%= render 'shared/error_messages', model: form.object %>
      
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Plan</label><br>
        <%= form.text_field :content, calss: "form-control" ,style: "width:100%", rows:"3", placeholder: "Planを入力してください" %>
        <%# <input type="content" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"> %>
      </div>

      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Memo</label><br>
        <%= form.text_area :memo, calss: "form-control" ,style: "width:100%" , rows:"3" , placeholder: " Memo" %>
      </div>

      <div class="mb-3">
        <label for="formFile" class="form-label">Image</label>
        <%= form.file_field :image, class: 'form-control' %><br>
      </div>
      
      <div class="d-grid gap-2">
        <div class ="buttun">
          <%= form.submit 'POST',class:"btn btn-secondary w-100"%>
        </div> 
      </div>

      <% end %>
    </div>

  </div>
</div>